


/* 
.container{
    width: 100%;
    background: linear-gradient(to top, var(--Gray) 50%, white 50%);
}
.url-page{
   display: grid;
   padding: 62px 52px;
   grid-template-columns: auto 150px;
    background-color: var(--Dark-Violet);

    border-radius: 15px;
    margin-left: 156px;
    margin-right: 156px;
}

.link{
  
   display: flex;
   width: 90%;
   padding: 22px;
    border-radius: 10px;
 
}

.btn-copy{
    padding: 22px;
    border-radius: 10px;
    font-family: 'Poppins';
    color: white;
    font-size: 15px;
    
    background-color: var(--Cyan);
}
@media screen and (max-width: 1025px) {
   *,.url-page{
    margin: 0;
   }
   .url-page{
    margin-left: 25px;
    margin-right: 25px;
   }
}

@media screen and (max-width: 857px) {
  .url-page,.link,.btn-copy,.button-copy{
        margin: 0;
        padding: 0;
       }
    .url-page{
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        margin-right: 22px;
        padding: 25px;
    }
    .link{
        padding: 16px;
        width: 95%;
        margin-bottom: 20px;
    }

    .btn-copy{
        display: flex;
        padding: 16px;
        width: 100%;
        text-align: center;
        padding-left: 40%;
    }
}

@media screen and (max-width: 857px) {
    .link{
        width: 92%;
    }
    .btn-copy{
        
        padding-left: 38%;
    }
}
@media screen and (max-width: 375px) {
    .link{
        width: 89%;
    }
    .btn-copy{
        
        padding-left: 37%;
    }
} */